.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}
.dropdown2:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: -0;
}
@media screen and (min-width: 480px) {
    nav{
      display: block;
    }
}